<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新建文章</title>
</head>
<body>
    <form action="#" method="post">
        <label for="poster">作者:</label>
        <input type="text" name="poster" id="poster" required>
        <label for="title">标题:</label>
        <input type="text" name="title" id="title" required>
        <label for="content">文章内容</label>
        <textarea name="content" id="content" cols="30" rows="10" required></textarea>
        <input type="submit" value="提交">
    </form>
</body>
</html>